.layoutBackground{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
  background-color: #e6f7ff;
}

.collapsed{
  outline: none;
  background: #fff;
  border: none;
  margin-left: 10px;
  color: #1890ff;
}

.leftSide{
  color: #1890ff;
}

.userName{
  color: #1890ff;
}

.userProfile{
  display: flex;
  align-items: center;
  justify-items: center;
}